{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ExamenJorge</title>
        <meta name="description" content="">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body style="background-color:#15E1CF;">
            <br>
			<nav class="hijo">
				<ul class="nav">
					<li><a href="{% url 'inicio' %}">INICIO</a></li>
					<li><a href="{% url 'registros' %}">REGISTROS</a></li>
					<li><a href="">ALGORITMOS</a>
						<ul>
							<li><a href="{% url 'algoritmo_knn' %}">KNN</a></li>
							<li><a href="{% url 'algoritmo_cbi' %}">CBI</a></li>
							<li><a href="{% url 'algoritmo_regLog' %}">REGRESION LOGISTICA</a></li>
						</ul>
					</li>
				</ul>
			</nav>

        <br><br>
        <div >

            {% block content %}
            {% endblock %}

        </div>

    </body>
</html>