{% extends 'blog/index.html' %}

{% block content %}
    <br><br>
    <div align="center"><h1 class="display-3">JORGE ALBERTO AYALA HERNANDEZ</h1></div>
    <div align="center"><h1 class="display-3">HOLA MUNDO!</h1></div>
    <br><br>
    <h3>ALGORITMO KNN</h3>
    <p class="texto-justificado">El algoritmo de las K vecinas más cercanas o K-nearest neighbors (kNN) es un algoritmo de Machine Learning que pertenece a los algoritmos de aprendizaje supervisado simples y fáciles de aplicar que pueden ser utilizados para resolver problemas de clasificación y de regresión. En este artículo veremos la definición de este algoritmo, su funcionamiento así como también una aplicación directa en programación.</p>
    <br><br>
    <h3>BAYESIANO INGENUO</h3>
    <p class="texto-justificado">Bayesiano ingenuo es un algoritmo muy utilizado para resolver problemas de clasificación. El modelo se denomina naïve porque trata todas las variables de predicción propuestas como independientes unas de otras. El bayesiano ingenuo es un algoritmo rápido y escalable que calcula las probabilidades condicionales para las combinaciones de atributos y el atributo de objetivo. A partir de los datos de entrenamiento se establece una probabilidad independiente. Esta probabilidad proporciona la verosimilitud de cada clase objetivo, una vez dada la instancia de cada categoría de valor a partir de cada variable de entrada.</p>
    <br><br>
    <h3>REGRESION LOGISTICA</h3>
    <p class="texto-justificado">La regresión logística resulta útil para los casos en los que se desea predecir la presencia o ausencia de una característica o resultado según los valores de un conjunto de predictores. Es similar a un modelo de regresión lineal pero está adaptado para modelos en los que la variable dependiente es dicotómica. Los coeficientes de regresión logística pueden utilizarse para estimar la razón de probabilidad de cada variable independiente del modelo. La regresión logística se puede aplicar a un rango más amplio de situaciones de investigación que el análisis discriminante.</p>
{% endblock %}  